* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.main-footer {
  background-color: #232f3e;
  color: white;
  border-top: 10px solid #37475a;
}

.footer-container {
  width: 1165px;
  height: 443px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    1fr
    1fr
    1.35fr
    1.25fr;
  column-gap: 55px;
  padding-top: 52px;
}

.footer-column {
  width: 100%;
}

.footer-column h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer-column a {
  display: block;
  color: #dddddd;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.bottom-footer {
  background-color: #131a22;
  color: white;
  min-height: 260px;
}

.services-container {
  width: 1165px;
  margin: 0 auto;
  padding-top: 38px;
  display: grid;
  grid-template-columns:
    1fr
    1fr
    1fr
    1fr;
  column-gap: 45px;
}

.services-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.service {
  min-height: 47px;
}

.service h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 1px;
}

.service p {
  color: #aaaaaa;
  font-size: 13px;
  line-height: 14px;
}

.copyright {
  text-align: center;
  margin-top: 48px;
}

.copyright-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright-links a {
  color: #dddddd;
  text-decoration: none;
  font-size: 13px;
}

.copyright-links a:hover {
  text-decoration: underline;
}

.copyright p {
  color: #dddddd;
  font-size: 13px;
  margin-top: 7px;
}

@media screen and (max-width: 1200px) {
  .footer-container,
  .services-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    padding-bottom: 50px;
  }

  .bottom-main-content {
    width: 100%;
    flex-wrap: wrap;
  }

  .services-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom-main {
    height: auto;
    padding: 25px 0;
  }

  .bottom-main-content {
    height: auto;
    flex-direction: column;
    gap: 15px;
  }

  .services-container {
    grid-template-columns: 1fr;
  }

  .copyright-links {
    flex-direction: column;
    gap: 10px;
  }
}
